:root {
  --text-color: #212121;
  --text-color2: #ffffff;
  --text-color3: #757575;
  --brand-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--text-color);
  font-size: 14px;
}

ul {
  list-style-type: none;
}

nav {
  font-weight: 500;
  line-height: 1.17;
}

.headermain {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: var(--text-color2);
}

.headermiddle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.postheader {
  font-weight: 700;
  line-height: 2;
}

.post {
  color: var(--text-color3);
  line-height: 1.88;
}

address {
  line-height: 1.71;
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
}

.portfolio-text {
  font-size: 16px;
}

.button {
  background-color: #f5f4fa;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1.6;
  font-family: inherit;
}

.button:hover {
  color: #ffffff;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.onebutton > .button {
  font-weight: 700;
  line-height: 1.87;
}

.link {
  color: var(--text-color3);
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  color: var(--brand-color);
}

.link:focus {
  color: var(--brand-color);
}

.navibutt {
  text-decoration: none;
  color: var(--text-color);
}

.navibutt:hover {
  color: var(--brand-color);
}

.navibutt:focus {
  color: var(--brand-color);
}

.navibutt:visited {
  text-decoration: none;
}

.crew-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
}

.crew-post {
  font-size: 16px;
  line-height: 1.17;
}

.logo {
  font-family: 'Raleway';
  color: var(--brand-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.studioheader {
  color: var(--text-color);
}

.studiofooter {
  color: var(--text-color2);
}
